In [5]:
#import packages
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors

In [2]:
path = 'https://github.com/ArinB/CA05-kNN/raw/master/movies_recommendation_data.csv'

df = pd.read_csv(path) 
df.head()
df.tail()

    Movie ID                        Movie Name  ...  History  Label
25        17                    Thor: Ragnarok  ...        0      0
26        12  Spirit: Stallion of the Cimarron  ...        0      0
27         1                     Hacksaw Ridge  ...        1      0
28        86                  12 Years a Slave  ...        1      0
29        46                    Queen of Katwe  ...        0      0

[5 rows x 11 columns]

In [6]:
# training data
features_list = ['IMDB Rating',	'Biography',	'Drama',	'Thriller',	'Comedy',	'Crime',	'Mystery',	'History']
X = df[features_list]
y = df['Movie ID']

In [17]:
#choose top 5 recommendations
neigh = NearestNeighbors(n_neighbors=5)
neigh.fit(X)
#values given in assignment for "The Post"
index_list = (neigh.kneighbors([[7.2, 1, 1, 0, 0, 0, 0, 1]], return_distance=False))
recommendations = []

#prints movie information and creates list of recommendations
for x in index_list:
  print(df.iloc[x])
  recommendations.append(df.iloc[x,1])

#print list
print(recommendations)

    Movie ID        Movie Name  IMDB Rating  ...  Mystery  History  Label
28        86  12 Years a Slave          8.1  ...        0        1      0
27         1     Hacksaw Ridge          8.2  ...        0        1      0
29        46    Queen of Katwe          7.4  ...        0        0      0
16        44    The Wind Rises          7.8  ...        0        0      0
2         46  A Beautiful Mind          8.2  ...        0        0      0

[5 rows x 11 columns]
[28    12 Years a Slave
27       Hacksaw Ridge
29      Queen of Katwe
16      The Wind Rises
2     A Beautiful Mind
Name: Movie Name, dtype: object]